@import "tailwindcss";

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(
        -45deg,
        #f9dcd4,
        #f8d0df,
        #d4eaf5,
        #d4f5ed
    );
    background-size: 400% 400%;
    animation: gradient-shift 15s ease infinite;
    min-height: 100vh;
}

h2 {
    font-size: 2.0rem;
    margin-bottom:1.0rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom:1.0rem;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(230,230,230);
    padding: 0.1rem;
}

p {
    margin: 1.0rem 0;
    line-height: 1.5rem;
}

pre {
    border: 1px solid rgb(200,200,200);
    margin-bottom: 2.0rem;
}

ol {
    list-style-type:decimal
}